.comments_body{

}

.comments {
    color: #000;
    background: rgba(255,255,215,.85);
    margin-top: -1px;
    border: 1px solid #d4cb68;
    position: relative;
    line-height: 20px;
    font-size: 12px;
    text-align: left;
    padding: 4px 5px 3px 5px;
    _height: 1%;
    min-height: 1px;
    overflow: hidden;
    word-wrap: break-word;
    position: absolute;
    width: 72px;
    height: 24px;
    left: 30px;
    top: 20px;
}

.comments .thumb {
    padding: 0 5px;
    line-height: 20px;
    right: -45px;
    top: 0px;
    background: #fcfad2;
    min-width: 35px;
    cursor: pointer;
}

.comments .thumb .thumb_ico{
    display: inline-block;
    width: 15px;
    height: 15px;
    overflow: hidden;
    background: url(/../img/thumb_ico.png) 0 0;
    position: relative;
    top: 2px;
    margin-right: 0px;
}
