.comment-input {
    position: absolute;
    z-index: 50;
    width: 200px;
    font-size: 11px;
}

.comment {
    position: absolute;
    z-index: 100;
    padding: 5px;
    opacity: 0.75;
    background-color: #ffffe4;
    border: 1px solid #ddd586;
    font-size: 11px;
}
